Module1-PreliminaryPython/.ipynb_checkpoints/*
Module1-PreliminaryPython/sampleData/test_csv.csv
Module1-PreliminaryPython/test.bin
Module1-PreliminaryPython/test.npy
Module1-PreliminaryPython/test.txt
Module1-PreliminaryPython/test_csv.csv
Module1-PreliminaryPython/test_save.npy
Module1-PreliminaryPython/mystyle.mplstyle
Module2-Bioinformatics/.ipynb_checkpoints/bioinformaticsWorkbook-checkpoint.ipynb
Module2-Bioinformatics/.ipynb_checkpoints/M2_BioinformaticsTools-checkpoint.ipynb
Module2-Bioinformatics/aligned_sequences.fa
Module2-Bioinformatics/alignment_results.fa
Module2-Bioinformatics/alignment_results_AA.fa
Module2-Bioinformatics/BioNTech_vs_Moderna_Alignment.png
Module2-Bioinformatics/coronaVirus.gb
Module2-Bioinformatics/sequences.fa
